# Stop looking for config files in parent directories
config.stopBubbling = true

# Copy @NonNull from fields to constructor/method parameters
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
